body{
    margin:0px;
    font-family:Work Sans;
    font-size:22px;}
.heading h2{
    font-style: bold;
}
.header{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    top: 0px;
    background-color: rgba(255,255,255,0.95);
    position:fixed;
    width:100%;
    box-shadow: none;
}
.header p{
    font-size: 15px;
}
.telephone-number{
    justify-self: center;
    align-self: center;
}
.email{
    align-self: center;
}
.logo{
    margin-left: 10%;
}
/*main content */
#main-content{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
#about-me{
    background-color: #ED8576;
    grid-column:1 /13;
}
#about-me .about-me-content{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    margin-bottom: 40px;
}
.text{
    grid-column: 2 / 3;
    display: grid;
}
.heading{
    grid-column: 2 / 3;
    justify-self: center;
}
.image{
    grid-column: 3 / 4;
    display: grid;
}
.profile-img{
    align-self: center;
    width: 70%;
}
.paragraph{
    grid-column: 2 / 3;
    line-height: 1,6;
}
h1{
    color:#EDB576
}
#projects{
    grid-column: 1 / 13;
    display: grid;
    grid-auto-columns: 15% [square-start] 1fr [square-end] 15%;
    grid-gap:20px;
    background-color: #76DEED;
}
.projects-square{
    grid-column-start: square start;
    grid-column-end:square end;
    grid-gap:20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    margin-top: 20px;
}
.projects-square p{
    font-size:16px;
}
.nature-square{
    grid-column: 1 / 6;
    background-color: white;
}
.recipe-square{
    grid-column: 6 / 9;
    background-color: white;;
}
.chat-square{
    grid-column: 1 / 3;
}
.study-square{
    grid-column: 1 / 9;
    background-color: white;
}
.philosophy-square{
    grid-column: 3 / 9;
    background-color: white;
}
a{
    text-decoration: none;
    color:black;
}
.center-text{
    margin-left: auto;
    margin-right: auto;
    width:75%;
    text-align: justify;
}
.skills{
    grid-column:2 / 3;
    display:grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    background-color: #76deed;
}
.skills-container{
    background-color: #76DEED;
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
}
.square-content{
    display: grid;
    grid-template-columns: 1fr;
}
.logo-nature{
    justify-self: center;
    width:15%;
}
.logo-recipe{
    justify-self: center;
    width:30%;
}
.logo-philosophy{
    justify-self: center;
    width:15%;
}
.logo-study{
    justify-self: center;
    width:10%;
}
.logo-chat{
    justify-self: center;
    width:50%;
}
@media only screen and (max-width:1023px) and (min-width:768px){
    #about-me .about-me-content{
        margin-top:150px;
        display:grid;
        grid-template-columns: 10% 1fr 10%;
        margin-bottom:40px;
    }
    .image{
        grid-column: 2 / 3;
    }
    .skills{
        grid-column: 2 / 3;
        display:grid;
        grid-template-columns: repeat(4,1fr);
    }
    h1{
        font-size:25px;
    }
    .header p{
        font-size: 14px;
    }
    .header{
        display:grid;
        grid-template-columns: 40% 30% 30%;
    }
    .email{
        grid-column:2 / 4;
        grid-row: 1 / 2;
        align-self: end;}
    .telephone-number{
        grid-column:2 / 4;
        grid-row:1 / 2;
        justify-self: start;
        }
    }
